@charset "utf-8";
/* CSS Document */
/*.yellow{background:#eeb723;}*/
/*.orange{background:#f6822e;}*/
.tangerine {
	background: #fa6143;
}
/*.light_green{background:#6cc860;}*/
/*.dark_green{background:#2dbea1;}*/
/*.dark_blue{background:#4995e1;}*/
.colred {
	color: #ff0000;
	padding-right: 15px;
}

.bordyellow {
	border: 1px solid #eeb723;
}

.bordgreen {
	border: 1px solid #6cc860;
}

.crm_main {
	width: 96%;
	padding: 25px 0 0;
}

.crm_inner {
	width: 100%;
	min-height: 570px;
	margin-top: 25px;
}

.cus_rec_tab,.cus_cont_tab {
	position: fixed;
	top: 0px;
	left: 20px;
	width: 130px;
	margin-top: 25px;
}

/*背景色*/
.dark_green {
	background: #2dbea1;
}

.light_green {
	background: #6cc860;
}

.red {
	background: #fd6d6d;
}

.orange {
	background: #ff814a;
}

.purple {
	background: #9a69e0;
}

.yellow {
	background: #f3bc29;
}

.dark_blue {
	background: #3daebf;
}

.light_blue {
	background: #4995e1;
}

.gray {
	background: #a9b9c8;
}

/*鼠标滑过背景色*/
a.dark_green:hover {
	background: #1fa58a;
}

a.light_green:hover {
	background: #4fae43;
}

a.red:hover {
	background: #e85353;
}

a.orange:hover {
	background: #f06c32;
}

a.purple:hover {
	background: #8652cf;
}

a.yellow:hover {
	background: #dda81b;
}

a.dark_blue:hover {
	background: #30a0b1;
}

a.light_blue:hover {
	background: #3986d4;
}

a.gray:hover {
	background: #9cadbd;
}

/*边框色*/
.bord_dark_green {
	border: 1px solid #2dbea1;
}

.bord_light_green {
	border: 1px solid #6cc860;
}

.bord_red {
	border: 1px solid #fd6d6d;
}

.bord_orange {
	border: 1px solid #ff814a;
}

.bord_purple {
	border: 1px solid #9a69e0;
}

.bord_yellow {
	border: 1px solid #f3bc29;
}

.bord_dark_blue {
	border: 1px solid #3daebf;
}

.bord_light_blue {
	border: 1px solid #4995e1;
}

.bord_gray {
	border: 1px solid #a9b9c8;
}

.cus_rec_tab {
	border: 1px solid #37aeec;
}

.cus_cont_tab {
	border: 1px solid #eeb723;
}

.cus_rec_tab li a {
	display: block;
	width: 130px;
	height: 57px;
	padding-top: 65px;
	border-bottom: 1px solid #e3e3e3;
	background: url(../images/icons.png) no-repeat;
	color: #767676;
	font: 16px/57px "微软雅黑";
	text-align: center;
}

.cus_rec_tab li a:hover {
	color: #37aeec;
}

.cus_rec_tab li a.tab_1 {
	background-position: 42px -65px;
}

.cus_rec_tab li a.tab_2 {
	background-position: 42px -195px;
}

.cus_rec_tab li a.tab_3 {
	background-position: 42px -325px;
}

.cus_rec_tab li a.tab_4 {
	background-position: 42px -455px;
}

.cus_rec_tab li a.tab_5 {
	background-position: 42px -585px;
}

.cus_rec_tab li a.tab_6 {
	background-position: 42px -715px;
}

.cus_rec_tab li a.tab_7 {
	background-position: 42px -845px;
}

.cus_rec_tab li a.tab_8 {
	background-position: 42px -975px;
}

.cus_rec_tab li a.tab_9 {
	background-position: 42px -1105px;
}

.cus_rec_tab li a.tab_10 {
	background-position: 42px -1235px;
}

.cus_rec_tab li.current a {
	background: url(../images/icons.png) no-repeat #37aeec;
	color: #FFF;
}

.cus_rec_tab li.current a.tab_1 {
	background-position: 42px -0px;
}

.cus_rec_tab li.current a.tab_2 {
	background-position: 42px -130px;
}

.cus_rec_tab li.current a.tab_3 {
	background-position: 42px -260px;
}

.cus_rec_tab li.current a.tab_4 {
	background-position: 42px -390px;
}

.cus_rec_tab li.current a.tab_5 {
	background-position: 42px -520px;
}

.cus_rec_tab li.current a.tab_6 {
	background-position: 42px -650px;
}

.cus_rec_tab li.current a.tab_7 {
	background-position: 42px -780px;
}

.cus_rec_tab li.current a.tab_8 {
	background-position: 42px -910px;
}

.cus_rec_tab li.current a.tab_9 {
	background-position: 42px -1040px;
}

.cus_rec_tab li.current a.tab_10 {
	background-position: 42px -1170px;
}

/* cus_record */
.cus_record {
	margin: 0 20px 80px 170px;
	border-top: none;
	/*background: #8b4513;*/
}

.cus_record h1 {
	height: 36px;
	padding-left: 20px;
	font: 18px/36px "微软雅黑";
	color: #FFF;
	clear: both;
	overflow: hidden;
}

.cus_rec_table {
	margin: 15px 30px 35px 0;
}

.cus_rec_table td {
	overflow: visible;
	height: 30px;
	line-height: 30px;
	padding: 6px 0;
	border: none;
	font-size: 14px;
	color: #4c4c4c;
	text-align: left;
}

.cus_rec_table td.table_tit {
	width: 200px;
	padding-right: 10px;
	text-align: right;
}

.cus_rec_table td.address .selCss {
	margin-right: 10px;
}

.btnArea,.btnArea_white {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 999;
	width: 100%;
	width: 99%;
	padding: 15px 0;
	text-align: center;
}
.btnArea{
	background: url(../images/shade_bg.png) repeat;
}
/*skip_task-------------------------------------------------------------------------------------*/
.task_skip {
	width: 750px;
	height: 530px;
	/*background-color: #d9d9db;*/
	margin: 0 auto;
}

.task_skip_left {
	width: 390px;
	height: 530px;
	/*background-color: #fa8072;*/
	float: left;
	margin-left: 42px;
}

.task_skip_right {
	width: 255px;
	height: 530px;
	/*background-color: #7fffd4;*/
	float: left;
	margin-left: 20px;
}

.skip_left_tit,.skip_right_tit {
	width: 100%;
	height: 30px;
	line-height: 30px;
}

.skip_left_tit span,.skip_right_tit span {
	font-size: 16px;
	color: #768798;
}

.texta_div {
	width: 100.25%;
	height: 92px;
	/*background-color: #8b4513;*/
	border-top: 3px solid #4995e1;
}

.texta_div .texta_t {
	outline: none;
	border: 1px solid #d0d0d0;
	border-top: none;
	width: 96.9%;
	height: 95px;
}

.skip_left_link0 {
	background: url("../images/skip_task/calender.png") no-repeat;
	display: inline-block;
	width: 31px;
	height: 41px;
	overflow: hidden;
	text-indent: -9999em;
}

.cal_spa {
	font-size: 12px;
	font-family: "SimSun";
	vertical-align: middle;
	position: relative;
	top: -14px;
}

.show_skip_left {
	width: 100%;
	height: 41px;
	line-height: 41px;
}

.show_skip_left input {
	position: relative;
	top: -14px;
	left: 150px;
}

.done {
	left: 155px;
}

.skip_left_but {
	width: 68px;
	height: 28px;
	border: 1px solid #cdcdcd;
	background-color: #4995e1;
	color: #fff;
	outline: none;
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 25px;
}

.but_let {
	margin-left: 240px;
}
/* 任务页面不需要该属性
.skip_left_but:hover{
    background-color: #4995e1;
    color: #fff;
    cursor: pointer;
    border-color: #4995e1;
}*/
.left_work {
	font-size: 16px;
	font-family: "微软雅黑";
	color: #768798;
}

.left_news {
	width: 100%;
	height: 80px;
	background-color: #D9DADB;
	margin-top: 10px;
	font-family: "SimSun";
	font-size: 12px;
	color: #666;
}

.left_news span {
	padding: 4px 20px;
	display: inline-block;
}

.skip_left_foot {
	width: 99.5%;
	height: 153px;
	background-color: #fff;
	border: 1px solid #d0d0d0;
}

.skip_left_foot ul {
	padding-left: 20px;
	padding-top: 10px;
}

.skip_left_foot ul li {
	list-style: none;
	font-size: 12px;
	font-family: "simsun";
}

.skip_left_foot ul li span { /*height: 24px;*/
	line-height: 24px;
}

.left_temp {
	width: 100%;
	height: 8px;
	background: url("../images/skip_task/shadow.png");
}

.left_add {
	margin-left: 25px;
	vertical-align: top;
}

.left_add_info {
	width: 250px;
	height: 20px;
	display: inline-block;
}

.skip_right_main {
	width: 99.5%;
	height: 466px;
	border: 1px solid #d0d0d0;
	border-top: 3px solid #4995e1;
}

.right_temp {
	width: 100%;
	height: 8px;
	background: url("../images/skip_task/shadow.png");
}

.skip_right_ul {
	width: 100%;
	height: 613px;
	/*background-color: #fa8072;*/
	font-size: 12px;
	color: #5c6262;
	overflow: auto;
}

.skip_right_ul ul {
	padding-top: 10px;
	/*border-left: 1px solid #d0d0d0;*/
	background: url("../images/skip_task/ul_bc.png") repeat-y 15px top;
}

.skip_right_ul ul li {
	list-style: none;
}

.skip_right_ul ul li span {
	height: 24px;
	line-height: 24px;
}

.right_time {
	width: 80px;
	height: 24px;
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	margin-left: 4%;
}

.right_info {
	width: 120px;
	height: 48px;
	display: inline-block;
}

.right_li1 {
	background: url("../images/skip_task/red.png") no-repeat 7px 2px;
	padding-left: 20px;
}

.right_li2 {
	background: url("../images/skip_task/yellow.png") no-repeat 7px 2px;
	padding-left: 20px;
}

.right_li3 {
	background: url("../images/skip_task/orange.png") no-repeat 7px 2px;
	padding-left: 20px;
}

/*index------------------------------------------------------------------------*/
.index_main {
	width: 94%;
	/* height: 755px;*/
	background-color: #fff;
	margin: 0 auto;
}

.index_main_div {
	width: 100%;
	min-width: 900px;
	/*height: 442px;*/
	/*background-color: #8b4513;*/
}

.index_temp1 {
	width: 100%;
	height: 30px;
}

.index_main_left,.index_main_right {
	float: left;
}

.right_margin {
	margin-bottom: 15px;
	width: 48%;
	border: 1px solid #87d27d;
}

.index_main_left {
	width: 49%;
	height: 442px;
	/*background-color: #87ceeb;*/
}

.index_main_right {
	width: 49%;
	height: 442px;
	/*height: 210px;*/
	/*background-color: #87ceeb;*/
	margin-left: 2%;
}

.index_main_left_first {
	width: 99.6%;
	height: 205px;
	/*background-color: red;*/
	margin: 0 0 20px 0;
	border: 1px solid #37aeec;
}

.index_main_left_title,.index_main_right_title {
	width: 100%;
	height: 45px;
	background-color: #37aeec;
	clear: both;
	overflow: hidden;
}

.index_main_right_title {
	background-color: #eeb723;
}

.color_yellow {
	background-color: #eeb723;
}

.color_green {
	background-color: #87d27d;
}

.color_orange {
	background-color: #f06c32;
}

.trends_list {
	width: 89%;
	height: 170px;
	float: right;
}

.trends_list li {
	float: right;
	text-align: center;
	min-width: 70px;
	/*margin-right: 2.5%;
	width: 17%;*/
	
	width: 20%;
	cursor: pointer;
}

.list_li_fir_text {
	display: block;
	float: right;
	text-align: right;
	padding: 130px 0 0 0;
	color: #8996a9;
	font-size: 14px;
	margin-right: -0.5%;
}

.roll {
	width: 62px;
	height: 62px;
	display: inline-block;
	/*  border-radius: 50%; */
	background: url("../images/index/roll_bg.png") no-repeat;
	text-align: center;
	/*line-height: 62px;*/
	color: #73ad72;
	font-size: 18px;
	/* font-weight: 600; */
	float: center;
	/*margin: 28px 0 0 13%;*/
	margin: 0 auto;
	margin-top: 28px;
}

.trends_list .max_li {
	width: 90px;
}

.width_roll {
	/*margin: 28px 0 0 14.6%;*/
}

.trends_name {
	line-height: 40px;
	font-size: 14px;
	color: #8996a9;
	/* font-weight: 600; */
	display: inline-block;
	/*     margin-left:14px; */
	/*width: 80px;*/
}

.radius_herf {
	width: 70px;
	height: 20px;
	/* background-color:#eaeff1 ;*/
	display: inline-block;
	/*  border-radius: 10px;*/
	font-size: 9px;
	color: #fe8855;
	background: url("../images/index/rate_bg.gif") no-repeat 72% center #eaeff1;
}

.up_show {
	background: url("../images/index/up.png") no-repeat 94% center;
}

.down_show {
	background: url("../images/index/down.png") no-repeat 93% center;
}

.down_text {
	color: #9acc78;
}

.up_text {
	color: #fe8855;
}

.radius_herf_text {
	width: 70px;
	display: block;
}

.index_main_left_title span,.index_main_right_title span {
	font-size: 20px;
	color: #fff;
	margin-left: 8px;
	height: 45px;
	line-height: 45px;
	font-family: "微软雅黑";
}

.index_link0 {
	background: url("../images/index/left_jt.png") no-repeat 0 5px;
	display: block;
	width: 30px;
	height: 40px;
	overflow: hidden;
	text-indent: -9999em;
	float: right;
	margin-right: 10px;
}
/*.right_title_span{
    margin-left: 43%;
	background: url("../images/index/left_jt.png") no-repeat 0 5px;
	display: inline-block;
	width: 30px;
	height: 40px;
	overflow: hidden;
	text-indent: -9999em;
}*/
.index_main_lfet_task,.index_right_main {
	width: 100%;
	height: 397px;
	/* background-color: #f0f0ef; */
}

.index_right_main {
	height: 170px;
}

.index_main_lfet_task ul {
	background: url("../images/index/ul_bc.png") repeat-y 75px 0;
	margin-left: 20px;
}

.index_main_lfet_task ul li {
	list-style: none;
	height: 40px;
	margin-top:25px;
}

.left_task_li0 {
	background: url("../images/index/stop_img.png") no-repeat 0 16px;
}

.left_task_li1 {
	background: url("../images/index/start_img.png") no-repeat 0 16px;
}

.index_left_task {
	position: relative;
	width: 85%;
	min-width: 150px; /*-------------------------------hj*/
	height: 45px;
	border: 1px solid #dddddd;
	margin-left: 8%;
	padding-left: 5px;
	background-color: #fff;
}

.index_left_task span {
	font-size: 12px;
	font-family: "SimSun";
	margin-left: 1%;
}

.index_left_task .index_name {
	margin-left: 38%;
}

.index_event,.index_event a {
	color: #7c7c7c;
}

.index_left_task:hover .index_event a {
	color: #37aeec;
}

.index_ico {
	position: absolute;
	top: 14px;
	left: -10px;
	width: 14px;
	height: 9px;
	background: url("../images/index/san_bc.png") no-repeat;
}

.over_ing {
	position: relative;
	top: 15px;
	left: -63px;
	width: 59px;
	height: 22px;
	display: inline-block;
	padding-left: 8px;
	background: url("../images/index/over_bc.png") no-repeat;
	color: #fff;
}

.over_ing_temp {
	position: relative;
	top: 15px;
	left: -75px;
	width: 59px;
	height: 22px;
	display: inline-block;
}

.start_ing {
	position: relative;
	top: 15px;
	left: -63px;
	width: 59px;
	height: 22px;
	display: inline-block;
	color: #fff;
	padding-left: 8px;
	background: url("../images/index/start.png") no-repeat;
}

.start_ing_temp {
	position: relative;
	top: 15px;
	left: -75px;
	width: 59px;
	height: 22px;
	display: inline-block;
	background-color: #f0f0ef;
}

.index_time_text {
	position: absolute;
	top: 390px;
	left: 46px;
	color: #6e6e6e;
}

.index_time {
	position: absolute;
	top: 410px;
	left: 46px;
	color: #6e6e6e;
}

.index_temp2 {
	width: 100%;
	height: 5px;
}

.show_shop {
	margin-top: 10px;
	width: 95%;
	min-width: 120px; /*---------------------------------hj*/
	height: 150px;
	float: left;
	margin-left: 2.5%;
	background: url("../images/index/money.png") no-repeat #ffffff 92% 30px;
	font-size: 14px;
}

.index_com_event,.index_money,.index_over_time {
	width: 88%;
	position: relative;
	top: 25px;
	left: 20px;
	display: inline-block;
}

.index_com_event {
	height: 60px;
	overflow: hidden;
}

.index_com_event a {
	color: #6f6f6f;
	font-size: 14px;
	font-family: "微软雅黑";
}

.show_shop:hover .index_com_event a {
	color: #d9a414;
}

.index_money { /*width: 75%;*/
	font-size: 16px;
	font-weight: 600;
	top: 25px;
	color: #d9a414;
}

.index_over_time { /*width: 90%;*/
	font-size: 12px;
	top: 30px;
	color: #d9a414;
}

.clear {
	clear: left;
}

.index_foot_div {
	width: 100%;
	height: 180px;
	/*background-color: #6a5acd;*/
	padding-top: 15px;
	color: #fff;
	clear: both;
	/*overflow:hidden;*/ /*--------------------------------------------------hj*/
}

.index_foot_div ul {
	width: 99%;
}

.index_foot_div ul li {
	float: left;
	width: 15%;
}

.index_foot_show a {
	width: 100%;
	height: 160px;
	/*background-color: #8b4513;*/
	display: inline-block;
	text-align: center;
	float: left;
	flat-left: 15%;
}

.foot_pos {
	margin-left: 2%;
}

.index_foot_show a img {
	margin-top: 30px;
	padding: 0 32px;
}

.index_foot_show a span {
	font-size: 20px;
	color: #fff;
	margin-top: 15px;
	display: inline-block;
	font-family: "微软雅黑";
}
/* .index_foot_show a{
    margin-left: 1.5%;                --------------------------------------------------hj
} */
.index_foot_show .index_lastimg {
	margin-top: 45px;
}

/*---------------------提示界面-----------------------------------------*/
.remind_main,.remind_main_error {
	width: 470px;
	height: 180px;
	background-color: #fff;
	margin: 0 auto;
	text-align: center;
}

.remind_main_error {
	margin-top: 20px;
}

.remind_success,.remind_err {
	width: 508px;
	height: 140px;
	line-height: 140px;
	font-size: 20px;
	font-weight: 600;
	color: #5a5a5a;
	display: inline-block;
	background: url("../images/remind/true.png") no-repeat 45px 54px;
}

.remind_err {
	background: url("../images/remind/error.png") no-repeat 45px 54px;
	/*background: url("../images/operate_err.png");*/
}

.remind_cle {
	width: 90px;
	height: 30px;
	margin-top: -20px;
	background-color: #f8f8f8;
	color: #7b7b7b;
	border: none;
	border: 1px solid #cdcdcd;
	margin-left: 70%;
}

.remind_cle:hover {
	background-color: #4995e1;
	color: #fff;
	border: 1px solid #4995e1;
}
/*活动记录日历图标所用*/
.timePicker {
	background: url("../images/skip_task/calender.png") no-repeat left center #FFFFFF;
	color: #606060;
	height: 28px;
	line-height: 28px;
	padding: 0 40px;
	cursor: pointer;
	z-index: 10;
}

.index_main_left_opp_content {
	width: 99.2%;
	margin: 0 auto;
}

.index_main_left_opp_content li {
	list-style: none;
	height: 177px;
}

.opp_roll {
	width: 86px;
	height: 56px;
	padding: 30px 0 0 0;
	text-align: center;
	/*border-radius:50%;
 	background-color:#eaeff1;*/
	background: url("../images/index/opp_roll_bg.png") no-repeat;
	display: block;
	margin: 20px auto;
	color: #6cc860;
	font-size: 14px;
	font-weight: 600;
}

.index_main_left_opp_content_bor {
	border-bottom: 1px dashed #c1e8bc;
}

.index_main_left_opp_content_text {
	color: #9cc697;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	height: 40px;
	width: 100%;
	text-align: center;
}

.index_main_left_opp_content_time {
	color: #8996a9;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.index_main_left_sch_content {
	width: 100%;
}

.index_main_left_sch_content_list {
	padding: 15px;
}

.index_main_left_sch_content_list li {
	list-style: none;
	height: 60px;
}

.index_sch_loading {
	width: 64px;
	height: 24px;
	display: block;
	line-height: 24px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	background: url('../images/index/over_bg.png');
	margin: 18px 0 0 64px;
}

.index_main_left_sch_content_list {
	padding: 15px;
}

.index_main_left_sch_content_list {
	width: 90%;
	background: url("../images/index/index_sch_ul_bg.png") repeat-y 75px;
	padding: 15px 0 15px 15px;
}

.index_main_left_sch_content_list li {
	list-style: none;
	height: 65px;
	position: relative;
}

.index_sch_time {
	color: #8996a9;
	/*width: 65px;*/
	height: 65px;
	line-height: 20px;
	font-size: 12px;
	display: inline-block;
	float: left;
	margin-left: -4px;
	/* position: absolute; */
	font-family:微软雅黑
}

.index_sch_info {
	width: 69%;
	height: 55px;
	display: inline-block;
	font-size: 14px;
	overflow: hidden;
	color: #8996a9;
	float: left;
	margin-left: 28px;
	font-family:微软雅黑
}

.staring_sch {
	margin: 10px 0 0 64px;
	background: url('../images/index/staring.png');
}

.sch_roll_bg {
	width: 14px;
	height: 14px;
	display: inline-block;
	position: absolute;
left: 55px;
top: 3px;
	background: url("../images/index/index_sch_shadow_roll.png");
}

/****/
/* cus_record */
.pop_record {
	margin: 0 20px 80px 170px;
	border-top: none;
	/*background: #8b4513;*/
}

.pop_record h1 {
	height: 36px;
	padding-left: 20px;
	font: 18px/36px "微软雅黑";
	color: #FFF;
	clear: both;
	overflow: hidden;
}

.pop_rec_table {
	margin: 15px 30px 5px 0;
}

.pop_rec_table td {
	overflow: visible;
	height: 18px;
	line-height: 25px;
	padding: 6px 0;
	border: none;
	font-size: 14px;
	color: #4c4c4c;
	text-align: left;
}

.pop_rec_table td.table_tit {
	width: 200px;
	padding-right: 10px;
	text-align: right;
}

.cus_rec_table td.address .selCss {
	margin-right: 10px;
}