@charset "utf-8";
/* common css */
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	font-family: "宋体" "微软雅黑", sans-serif;
	line-height: 20px;
}

table,div,h1,h2,h3,h4,p,form,label,input,select,textarea,img,span,ul,li {
	padding: 0px;
	margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1em;
	font-weight: normal
}

form {
	margin: 0
}

blockquote {
	margin: 0
}

img,a img {
	border: none;
}

a {
	blr: expression(this.onFocus =   this.blur () )
} /*针对 IE*/
a {
	outline: none;
} /*针对火狐*/
a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul,li {
	list-style-type: none;
}

.oh:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

input:focus {
	border: 1px solid #4995e1;
}

textarea.textareaCss:focus {
	border: 1px solid #4995e1;
}

input,select {
	outline: none;
}

.wid1 {
	width: 276px;
}

.wid2 {
	width: 266px;
}

.wid3 {
	width: 360px;
}

.wid4 {
	width: 547px;
}

.wid5 {
	width: 150px;
}
.pdl60 {
	padding-left: 60px;
}

.pdr60 {
	padding-right: 60px;
}

/*header整体菜单展示风格样式*/
.header_wrap,.header,.header .slide_ico,.header .logo,.header .header_r {
	height: 63px;
}

.header_wrap {
	background: #4995e1;
	width: 100%;
}

.header {
	margin: 0 auto;
	/*width:1263px;*/
	width: 100%;
	height: 100%;
	background: #4995e1;
	box-shadow: 0 -1px 5px rgba(0, 0, 0, .1) inset;
	z-index: 1;
}

.header .slide_ico {
	width: 84px;
	height: 100%;
	/*margin-left:20px;*/
	border-right: 1px solid #1c60b9;
	border-left: 1px solid #4687db;
	background: #387ed8;
}

.header .slide_ico.on {
	background: #37c;
}

.header .slide_ico i {
	display: block;
}

.header .slide_ico .ico1 {
	margin: 13px 0 0 20px;
	width: 41px;
	height: 39px;
	background-position: 0 -15px;
}

.header .slide_ico .ico2 {
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	background-position: 0 -60px;
}

.header .slide_ico .ico3 {
	display: none;
	left: 5px;
	bottom: 0;
	width: 85px;
	height: 10px;
	background-position: 0 -1px;
	z-index: 99;
}

.header .slide_ico.on .ico3 {
	display: block;
}

.header .nav {
	display: none;
	top: 63px;
	left: 10px;
	/*width:420px;*/
	padding: 8px 15px 4px 6px;
	border: 1px solid #ddd;
	border-top: none;
	box-shadow: 1px 0 5px rgba(0, 0, 0, .1);
	background: #fff;
	z-index: 9999;
}

.header .on .nav {
	display: block;
}

.header .nav  dl {
    /* padding: 20px 0 20px 21px; */
	padding: 10px 0 10px 21px;
	border-top: 1px solid #eee;
}

.header .nav dt {
	float: left;
	width: 120px;
	margin-right: 20px;
	border-right: 2px solid #e0edfa;
	font: 16px/30px "微软雅黑";
	color: #3592ee;
	padding-right: 10px;
}

.header .nav dt i {
	float: left;
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background: url(img/ico.png) no-repeat;
}

.header .nav dt .nav_ico1 {
	background-position: 0 -71px;
}

.header .nav dt .nav_ico2 {
	background-position: 0 -100px;
}

.header .nav dt .nav_ico3 {
	background-position: 0 -130px;
}

.header .nav dt .nav_ico4 {
	background-position: 0 -160px;
}

.header .nav dt .nav_ico5 {
	background-position: 0 -190px;
}

.header .nav dt .nav_ico6 {
	background-position: 0 -266px;
}

.header .nav dt .nav_ico7 {
	background-position: 0 -296px;
}

.header .nav dt .nav_ico8 {
	background-position: 0 -326px;
}

.header .nav dt .nav_ico9 {
	background-position: 0 -356px;
}

.header .nav dt .nav_ico10 {
	background-position: 0 -392px;
}

.header .nav dt .nav_ico11 {
	background-position: 0 -426px;
}
.header .nav dd {
	float: left;
	font: 14px/30px "微软雅黑";
}

.header .nav dd a {
	display: inline-block;
	margin-right: 30px;
	color: #9ca3ae;
	min-width:55px;
}

.header .nav dd a:hover,.header .nav dd a.current {
	color: #4ea3f8;
}

.header .logo {
	border-left: 1px solid #5bace9;
	font: 28px/63px "微软雅黑";
	color: #fff;
	text-shadow: 2px 0 1px rgba(17, 98, 180, .3);
}

.header .header_r {
	vertical-align: middle;
}

.header .header_r a {
	color: #cee3f8;
	font-family: "宋体";
}

.header .header_r li {
	float: left;
	margin-top: 24px;
	padding: 0 10px;
	border-right: 1px solid #75aee8;
	color: #cee3f8;
	text-shadow: 1px 0 0 rgba(0, 0, 0, .2)
}

.header .header_r li a {
	display: inline-block;
	margin: 0 5px;
}

.header .header_r li a:hover {
	text-decoration: underline;
}

/*tab页签css*/
.tabbar {
	background: url(img/tab01_bg.png) repeat-x left bottom;
	height: 32px;
	line-height: 32px;
	width: 100%;
	margin-top: 15px;
}

.tabbar a {
	display: block;
	float: left;
	background: #edeff3;
	border: 1px solid #c7c7c7;
	border-bottom: 1px solid #a2c5e1;
	border-radius: 3px 3px 0 0;
	height: 30px;
	line-height: 30px;
	margin-left: 15px;
	min-width: 80px;
	*width: 100px;
	text-align: center;
	color: #747474;
	padding: 0 10px;
}

.tabbar span {
	display: block;
	float: right;
	width: 12px;
	height: 11px;
	background: url(img/iconbg.png) no-repeat 0 0;
	overflow: hidden;
	text-indent: -9999em;
	margin: 9px 0 0 10px;
	cursor: pointer;
}

.tabbar a:hover,.tabbar a.current {
	background: #ffffff;
	border: 1px solid #a2c5e1;
	border-bottom: 1px solid #ffffff;
	border-radius: 3px 3px 0 0;
	color: #3f91c9;
}

.tabbar a:hover span,.tabbar a.current span {
	background: url(img/iconbg.png) no-repeat 0 -11px;
}

.tabbar a:hover span:hover,.tabbar a.current span:hover {
	background: url(img/iconbg.png) no-repeat 0 -22px;
}

/*tab页签css*/
.pages {
	margin: 30px auto;
	text-align: center;
	overflow: hidden;
	*float: right;
}

.pages li {
	display: inline-block;
	*float: left;
	margin: 0 5px;
	height: 30px;
	line-height: 30px;
	color: #818080;
	zoom: 1; /*使ie6、ie7------------------------------------------------------haslayout*/
}

.pages li a {
	display: block;
	float: left;
	padding: 0 16px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #c8c7c7;
	background: #FFF;
	color: #818080;
}

.pages li a:hover,.pages li a.current {
	background: #428cdd;
	color: #FFF;
	border: 1px solid #2478d4;
}

.pages li .pages_more {
	display: block;
	float: left;
	background: url(img/iconbg.png) no-repeat -12px 0;
	width: 14px;
	height: 30px;
	overflow: hidden;
	text-indent: -9999em;
}

.txtCss01 {
	border: 1px solid #c8c7c7;
	background: #FFF;
	color: #818080;
	height: 28px;
	line-height: 28px;
	width: 46px;
	text-align: center;
	float: left;
	margin: 0 5px;
}

/*tab页签css*/
.btnCss01,.onbtnCss01,.unbtnCss01 {
	border: 1px solid #3780c9;
	background: #4995e1;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	_padding: 0 15px;
	cursor: pointer;
	border-radius: 3px;
}

.btnCss01:hover,.onbtnCss01 {
	border: 1px solid #1657a9;
	background: #2f75cd;
}

.unbtnCss01 {
	border: 1px solid #d7d4d4;
	background: #f6f6f6;
	color: #ababab;
	cursor: auto;
}

.btnCssSearch01,.btnCssClean01 {
	width: 94px;
	height: 28px;
	border: 1px solid #bfbfbf;
	outline: none;
	display: inline-block;
	line-height: 28px;
	font-size: 14px;
	color: #666262;
	margin-left: 10px;
	border-radius: 3px;
}

.btnCssSearch01 {
	background: url(img/search.png) no-repeat 15px 2px;
}

.btnCssClean01 {
	background: url(img/clean.png) no-repeat 15px 2px;
}

.btnCssSearch01:hover {
	cursor: pointer;
	color: #fff;
	background: url(img/search_hover.png) no-repeat 15px 2px;
	border: 1px solid #4995e1;
	background-color: #4995e1;
}

.btnCssClean01:hover {
	cursor: pointer;
	color: #fff;
	background: url(img/clean_hover.png) no-repeat 15px 2px;
	border: 1px solid #4995e1;
	background-color: #4995e1;
}

.btnCssText01 {
	font-size: 14px;
	margin-left: 44px;
}

.btn_white {
	border: 1px solid #bfbfbf;
	color: #666262;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	cursor: pointer;
	border-radius: 3px;
}

.btn_white:hover {
	color: #fff;
	background-color: #4995e1;
}
.btn_blue {
	border: 1px solid #3780c9;
	background: #4995e1;
	color:  #FFF;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
	cursor: pointer;
	border-radius: 3px;
}

.btn_blue:hover {
	border: 1px solid #1657a9;
	background-color: #2f75cd;
}
/*链接css*/
.link01,.link02,.link03,.link04,.link06,.link07,.link0702,.unlink02,.unlink04,.unlink07,.unlink06,.unlink01,.link08,.unlink08,.link09,.unlink09 {
	display: inline-block;
	height: 21px;
	line-height: 21px;
	/*margin:9px 15px 0;*/ /*成都设置*/
	margin: 0 5px;
	padding-left: 24px;
	background: url(img/iconbg.png) no-repeat -300px 0;
}

.link01 {
	background-position: -176px 0;
	color: #18b32a;
}
.unlink01 {
	background-position: -176px -168px;
	color: #18b32a;
	cursor: default;
}

.link01:hover {
	background-position: -176px -21px;
	color: #0d981d;
}

.link02 {
	background-position: -176px -42px;
	color: #388fc9;
}

.link02:hover {
	background-position: -176px -63px;
	color: #0c66be;
}

.link03 {
	background-position: -176px -84px;
	color: #f49835;
}

.link03:hover {
	background-position: -176px -105px;
	color: #e1883a;
}

.link04 {
	background-position: -176px -126px;
	color: #f67474;
}
.link06 {
	background-position: -176px -251px;
	color: #f67474;
}
.unlink06 {
	background-position: -176px -293px;
	color: #f67474;
	cursor: default;
}
.link06:hover {
	background-position: -176px -272px;
	color: #f67474;
}
.unlink07 {
	background-position: -176px -502px;
	color: #f67474;
	cursor: default;
}
.link07 {
	background-position: -176px -523px;
	color: #f67474;
}
.link07:hover {
	background-position: -176px -544px;
	color: #f67474;
}
.link0702 {
	background-position: -176px -525px;
	color: #388fc9;
}
.link0702:hover {
	background-position: -176px -546px;
	color: #0c66be;
}

.link04:hover {
	background-position: -176px -147px;
	color: #e25a5a;
}

.unlink02,.unlink04 {
	color: #9e9e9e;
	cursor: handle;
}

.unlink02 {
	background-position: -176px -189px;
}

.unlink04 {
	background-position: -176px -231px;
	cursor: default;
}

.unlink08 {
	background-position: -109px -79px;
	color: #9e9e9e;
	cursor: default;
}
.link08 {
	background-position: -109px -40px;
	color: #388fc9;
}
.link08:hover {
	background-position: -109px -61px;
	color: #0c66be;
}

.link05 {
	display: inline-block;
	height: 21px;
	line-height: 14px;
	margin: 0 5px;
	padding-left: 20px;
	background: url(img/icon_add.png) no-repeat 0 0;
	color: #388fc9;
}

.link09 {
	background-position: -109px -120px;;
	color: #388fc9;
}

.link09:hover {
	background-position: -109px -146px;
	color: #0c66be;
}
.unlink09{
	background-position: -176px -60px;
	cursor: handle;
}
.img_search{
    background: url(../../images/report/search.gif) no-repeat center;
    overflow: hidden;
	width: 26px;
	text-indent: -9999em;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}

/*input css*/
.txtCss02 {
	border: 1px solid #bfbfbf;
	height: 28px;
	line-height: 28px;
	color: #606060;
	padding: 0 5px;
	background: #FFF;
}

.untxtCss02 {
	border: 1px solid #d7d4d4;
	height: 28px;
	line-height: 28px;
	color: #ababab;
	padding: 0 5px;
	background: #FFF;
}

.txtCss03 {
	border: 1px solid #bfbfbf;
	height: 28px;
	line-height: 28px;
	color: #606060;
	padding: 0 0px;
	background: #FFF;
	width: 100%;
}

.txtCss04 {
	border: 1px solid #bfbfbf;
	height: 28px;
	line-height: 28px;
	color: #606060;
	padding: 0 0px;
	background: #FFF;
	width: 93%;
	margin-left: 30px;
}

.txtCss03_boxhide {
	border: 0px solid #bfbfbf;
	height: 28px;
	line-height: 28px;
	color: #606060;
	padding: 0 0px;
	background: #FFF;
	width: 100%;
}

.txtCss04_boxhide {
	border: 0px solid #bfbfbf;
	height: 28px;
	line-height: 28px;
	color: #606060;
	padding: 0 0px;
	background: #FFF;
	width: 93%;
	margin-left: 30px;
}
/*select css*/
.selCss {
	position: relative;
}

div.selectbox-wrapper {
	border: #b7d1eb 1px solid;
	border-top: none;
	width: 100%;
	left: 0px;
	top: 30px;
	_top: 31px;
	position: absolute;
	background: #FFF;
	text-align: left;
	z-index: 20
}

div.selectbox-wrapper ul li.selected {
	background: #e0ecf7;
}

div.selectbox-wrapper ul li.current {
	color: #fff;
	background: #36c;
}

div.selectbox-wrapper ul li {
	line-height: 30px;
	height: 30px;
	padding: 0 8px;
	color: #606060;
	cursor: pointer;
}

.selectbox {
	border: 1px solid #bfbfbf;
	display: block;
	width: 100%;
	cursor: pointer;
	height: 28px;
	line-height: 28px;
	background: url(img/select_rightbg.png) no-repeat right 0;
	color: #606060;
	text-indent: 1em;
}

.selectbox:focus {
	background: url(img/select_rightbg.png) no-repeat right -28px;
}

/*正确提示框 css*/
.tips01,.tips02 {
	position: absolute;
	z-index: 99;
	line-height: 40px;
	padding: 0 20px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #aaaaaa;
}

.tips01 {
	color: #13a024;
	background: #e4f5e6;
	border: 1px solid #69b973;
}

.tips02 {
	color: #e68013;
	background: #f7ebde;
	border: 1px solid #f8952b;
}

/*文本区域*/
textarea {
	border: 1px solid #bfbfbf;
	color: #606060;
	padding: 0 5px;
	background: #FFF;
}

textarea:focus {
	border: 1px solid #bfbfbf;
}

textarea[disabled="disabled"] {
	border: 1px solid #bfbfbf;
	color: #ccc;
	padding: 0 5px;
	background: #eee;
}

textarea[readonly="readonly"]:focus {
	border: 1px solid #f60;
	color: #ccc;
	padding: 0 5px;
}

/*文件域样式*/
.no_radius {
	border-radius: 0;
}

.formFile {
	position: absolute;
	left: 202px;
	top: 52px;
	heigth: 26px;
	cursor: pointer;
	filter: Alpha(opacity =   0);
	-moz-opacity: 0;
	opacity: 0;
}

/*单选按钮*/
#formRadio { /*background: url(img/iconbg.png) no-repeat right top;*/
	
}

#sex_male,#sex_female,#sex_nomale {
	display: none;
}

label { /*display:inline-block;  */
	width: 15px;
	height: 15px;
	margin: 5px;
	text-indent: -999px;
	vertical-align: middle;
	background: url(img/ico.png) no-repeat -2px -220px;
	cursor: pointer;
}
/*  引用新的check-box样式
label.checked {  
  background-position:-2px -235px;
}  
*/
/*复选框样式*/
/*
input[type="checkbox"]{
	border:1px solid #aaa;
	background: #fff url(img/ico.png) no-repeat -2px -250px;
}
/*引用新的check-box样式
.mark_task{
	position: absolute;
	top: 134px;
	left: 320px;
	background: url(img/checkbox.png) no-repeat transparent; 
}*/
/*查询列表展示样式*/
.Table01,.Table02 {
	font: inherit;
	text-align: center;
	width: 100%;
}

.Table01 th,.Table02 th {
	height: 34px;
	line-height: 34px;
	padding: 0 5px;
	color: #fff;
	border: 1px solid #1e77ce;
	border-right: 1px solid #4284c8;
	background: #5b9fe4;
}

.Table01 td,.Table02 td {
	height: 39px;
	line-height: 39px;
	color: #606060;
	border: 1px solid #d7e0e5;
	overflow: hidden;
	padding: 0 5px;
}

.Table01 td.Tab_btn {
	width: 140px;
}

.Table01 span.tborder { /*表格左侧的颜色条大小及定位*/
	display: block;
	width: 3px;
	height: 100%;
	float: left;
	margin-left: -5px;
}

.tbBlue { /*表格左侧的兰颜色条*/
	background: #26a8e2;
}

.tbYello {
	background: #f6af45;
}

.tbBlue2 {
	background: #09469f;
}

.tbGreen {
	background: #26b67b;
}

.tbRed {
	background: #ff3b5b;
}

.link {
	display: block;
	color: #606060;
}

.Table01 tr:hover {
	background: #e4effb;
	cursor: pointer;
}

.Table01 tr:hover td {
	color: #5b9fe4;
}
.Table01 tr.building:hover {
	background: #fff;
	cursor:auto;
}
.Table01 tr.building:hover td {
	color: #606060;
	cursor:auto;
}
.Table01 tr:hover a.link {
	color: #5b9fe4;
}

.radio_list_1 li,.radio_list_2 li,.radio_list_3 li,.radio_list_4 li,.radio_list_4 li {
	float: left;
	padding: 0 10px 0 5px;
}

.radio_list_1 li a,.radio_list_2 li a,.radio_list_3 li a,.radio_list_4 li a,.radio_list_5 li a {
	background: url(img/ico.png) no-repeat 0 -219px;
	padding-left: 25px;
	color: #4c4c4c;
}

.radio_list_1 li a.current,.radio_list_2 li a.current,.radio_list_3 li a.current,.radio_list_4 li a.current,.radio_list_5 li a.current
	{
	background: url(img/ico.png) no-repeat 0 -234px;
}

.radio_list_1 li input,.radio_list_2 li input,.radio_list_3 li input,.radio_list_4 li input,.radio_list_5 li input {
	display: none;
}

/*pup_model*/
.pup_tree {
	background: #fff;
	border: 2px solid #a4e186;
	width: 80%;
	position: absolute;
	z-index: 1001;
}

.pup_tree_title {
	border-top: 2px solid #a4e186;
	border-bottom: 2px solid #a4e186;
	color: #e8852d;
	padding-left: 12px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
}

.pup_tree_title a {
	text-decoration: none;
	color: #e8852d;
	font-weight: normal;
}

.pup_tree_title a:hover {
	text-decoration: none;
	color: #e8852d;
}

.contetn_pup {
	margin: 10px 12px;
}

.pup_tree_content {
	width: 100%;
	height: 500px;
	overflow: auto
}

.table tr.tr1 {
	background: #a4e186;
	line-height: 18px;
}

.table tr.tr {
	background: #e2f5da;
	line-height: 18px;
}
.table tr.building:hover {
	/*background: #e2f5da;*/
	cursor:auto;
}
.table tr.building:hover td {
	/*color: #e2f5da;*/
	cursor:auto;
}
.pup_box {
	width: 700px;
	margin: 0 auto;
	color: #000;
}

.pub_content {
	background: #fff;
	border: 2px solid #008000;
}

#ShowMessageBox_addOppty {
	width: 80%;
	height: 80%;
	overflow: visible;
	z-index: 10000;
}

.ifmBox {
	width: 750px;
	margin: 0 auto;
	height: 100%;
}

.ifmBox .ifm {
	z-index: 999;
	filter: alpha(opacity =   0);
	opacity: 0;
	width: 750px;
	margin: 0 auto;
	height: 750px;
	scrolling: yes
}

/**********************弹出框样********start**************/
.shade {
	position: fixed;
	display: none;
	background: url(img/pop_bg.png) repeat left top;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
}

.pop01 {
	position: absolute;
	display: none;
	z-index: 100;
	top: 50%;
	left: 50%;
	background: #fff;
}

.pop01 .pop_title {
	height: 45px;
	background: #4995e1;
	border-bottom: 2px solid #4191e0;
	padding: 0 20px;
}

.pop01 .pop_title span {
	color: #fff;
	font: 18px/46px "微软雅黑";
}

.pop01 a {
	display: block;
	float: right;
	width: 20px;
	height: 31px;
	text-indent: -9999em;
	overflow: hidden;
	background: url(img/pop_close.png) no-repeat;
	margin-top: 16px;
}

.pop01 a:hover {
	background: url(img/pop_close_hover.png) no-repeat;
}

.pop_item { /*padding:20px;*/
	
}
/**********************弹出框样********end**************/
.warp_form {
	padding: 20px;
	overflow: hidden
}

/**********************下拉框样式********************************/
.select_overflow {
	max-height: 300px;
	overflow: auto;
}

/*--------------------------------no-data--------------*/
.no_data_main_schedule,.no_data_main_bus {
	width: 100%;
	height: 170px;
	background: url("../../images/no_data_kid.png") no-repeat 50px 28px;
	font-family: "微软雅黑";
}

.no_data_schedule_info,.no_data_bus_info {
	font-size: 16px;
	color: #bdcad0;
	padding: 58px 0 0 130px;
}

.no_data_schedule_gonew,.no_data_bus_gonew {
	width: 110px;
	height: 28px;
	line-height: 28px;
	background-color: #bdcad0;
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-radius: 3px;
	margin: 20px 0 0 190px;
}

.no_data_schedule_gonew:hover,.no_data_bus_gonew:hover {
	background-color: #b0cbda;
}

/*联系人*/
.no_data_contactPerson_schedule,.no_data_contactPerson_bus {
	width: 100%;
	height: 176px;
	background: url("../../images/no-data.png") no-repeat 200px 44px;
	font-family: "微软雅黑";
}

.no_data_contactPerson_bus {
	width: 100%;
	height: 176px;
	background: url("../../images/no-data.png") no-repeat 260px 44px;
}

.no_data_contactPerson_info {
	font-size: 24px;
	color: #bdcad0;
	padding: 69px 0 0 380px;
}

.no_data_pos {
	background: url("../../images/no-data.png") no-repeat 250px 44px;
}

.no_data_info_pos {
	font-size: 24px;
	color: #bdcad0;
	padding: 69px 0 0 425px;
}
/*mask*/
.dn {
	display: none;
}

#filter_content_dn {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 200;
	background: #000000;
	left: 0;
	top: 0;
	filter: alpha(opacity =   20);
	opacity: .2;
}
/**
.bg_loading {background: url(img/loading.gif)  no-repeat;top: 50%;position: fixed;z-index: 21;text-align: center;background-position: 50% 0;padding: 35px 0 25px 0;width:100%;margin:auto;}*/
.bg_loading {
	color: #13a024;
	background: #e4f5e6;
	border: 1px solid #69b973;
	position: fixed;
	z-index: 999;
	line-height: 80px;
	padding: 0 80px;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #aaaaaa;
	margin: 0 auto;
	background: url(img/loading.gif) no-repeat #e4f5e6;
	background-position: 20% 44%;
	top: 50%;
	left: 44%;
	text-indent: 24px;
}
/** checkbox **/
span.checkbox {
	padding-left: 24px;
	cursor: pointer;
	background: url(img/checkbox_normal.png) no-repeat transparent;
	line-height: 14px;
	height: 25px;
	display: inline-block;
	margin-top: 10px;
}

span.checked {
	background: url(img/checkbox.png) no-repeat transparent;
}
/*客户快速查询标签样式*/
.quicklyQuery {
	overflow: hidden;
	zoom: 1;
	clear: both;
}

.quicklyQuery li {
	float: left;
	padding: 5px 10px;
}

.quicklyQuery li a {
	display: block;
	height: 20px;
	line-height: 20px;
	color: #666;
}

.quicklyQuery li a:hover {
	display: block;
	height: 20px;
	line-height: 20px;
	color: #4ea3f8;
}
/*日程中任务查询样式*/
/*弹出层*/
/*内容层*/
.content_sch_details {
	width: 94.95%;
}
/*内容*/
.content_sch_details_ul {
	margin-top: 20px;
}

.content_sch_details_ul>li {
	width: 100%;
	/* height: 35px; */
	line-height: 35px;
	list-style-type: none;
	margin-left: 40px;
}

.content_sch_details_ul>li:hover {
	color: #5b9fe4;
}

.inputtext {
	width: 200px;
	height: 25px;
	line-height: 25px;
	outline: none;
	border: none;
	position: relative;
	top: -1px;
	width: 260px;
	background-color: #fff;
	disabled: disabled;
}

.input_bor {
	border: 1px solid #bfbfbf;
}

.textarea {
	vertical-align: top;
	border: none;
	background-color: #fff;
}

.textarea_bor {
	border: 1px solid #cbcbcb;
}

.la1 {
	margin-left: 30px;
	width: 80px;
	text-align: right;
	display: inline-block;
	color: #4c4c4c;
	font-size: 14px;
}

.but {
	width: 70px;
	height: 30px;
	line-height: 20px;
	background: url(../../images/but.bg.png) transparent;
	outline: none;
	font-size: 12px;
	border-radius: 2px;
	color: #5c5757;
	border: 1px solid #cdcdcd;
	margin-top: 14px;
	margin-left: 10px;
}

.task_work {
	float: right;
	border: 1px solid #cbcbcb;
	height: 40px;
	margin-top: 10px;
	padding: 0;
}

.task_work li {
	float: left;
	width: 121px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	margin-top: 3px;
	color: #9f9f9f;
	margin-left: 0;
}

.task_work .li_hover {
	color: #559ce3;
}

.first_li {
	border-right: 1px dashed #cbcbcb;
}

.but:hover {
	background: #4995e1;
	border-color: #3780c9;
	cursor: pointer;
	color: #fff;
}

.foot_sch_details {
	width: 90%;
	height: 60px;
	/*margin: 80px auto;
          	margin-bottom: 20px;
            margin-top: 100px;*/
	text-align: left;
	position: absolute;
	bottom: 40px;
	right: 39px;
}

.muqiang {
	width: 0;
	height: 0;
	background-color: #dbdbdb;
	opacity: .5;
}

.content_sch_details ul li .input_wid {
	width: 420px;
}

.but_clear {
	margin-left: 14%;
}

.task_work .first_li {
	background: url(../../images/customer_data/del.png) no-repeat 17px 9px;
}

.task_work .scend_li {
	background: url(../../images/customer_data/update.png) no-repeat 17px 9px;
}

.task_work .first_li:hover {
	background: url(../../images/customer_data/delHover.png) no-repeat 17px 9px;
}

.task_work .scend_li:hover {
	background: url(../../images/customer_data/updateHover.png) no-repeat 17px 9px;
}

.task_work .link_del_hover {
	color: #559ce3;
	background: url(../../images/customer_data/delHover.png) no-repeat 17px 9px;
}

.task_work .link_complie_hover {
	color: #559ce3;
	background: url(../../images/customer_data/updateHover.png) no-repeat 17px 9px;
}

.task_work li:hover {
	cursor: pointer;
	color: #559ce3;
}

/*--------选择数据共享人员浮层样式----------*/
.skip_manage_content {
	width: 610px;
	height: 380px;
	/*background-color: #fa8072;*/
	font-family: 16px "微软雅黑";
	margin: 0 auto;
	/* color: #fff; */
}

.skip_manage_content ul li {
	height: 30px;
	line-height: 30px;
	list-style: none;
	margin-left: 10px;
}

.skip_manage_left,.skip_manage_button,.skip_manage_right {
	float: left;
}

.skip_manage_left {
	width: 36%;
	height: 320px;
	/*background-color: #87ceeb;*/
	margin-left: 5%;
}

.skip_manage_right {
	width: 36%;
	height: 320px;
	margin-left: 6%;
	/*background-color: #87ceeb;*/
}

.skip_manage_button {
	width: 8%;
	height: 320px;
	margin-left: 3%;
	/*background-color: #db22eb;*/
}

.clear {
	clear: left;
}

.skip_manage_but {
	width: 100px;
	height: 30px;
	background-color: #4995e1;
	outline: none;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}

.stafferTitle {
	width: 100%;
	/*height: 35px;
	line-height: 30px;*/
	height: 45px;
	line-height: 45px;
}

.stafferTitle span {
	font-size: 16px;
	font-family: "微软雅黑";
	margin-left: 60px;
	/*background: url(../../images/right/staff.png) no-repeat -7px 20px;*/
	background: url(../../images/right/staff.png) no-repeat -7px 23px;
	padding: 30px;
	
	
}

.title_r span {
	background: url(../../images/right/manage.png) no-repeat -7px 20px;
}

.skip_manage_left ul li {
	list-style: none;
}

.skip_manage_left ul li:hover {
	cursor: pointer;
}

.skip_manage_right ul li:hover {
	cursor: pointer;
}

.staffList1,.staffList2 {
	width: 100%;
	height: 250px;
	overflow: auto;
	border-top: 2px solid #4995e1;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;;
	padding: 15px 0;
}

.nv {
	background: url(../../images/right/w.png) no-repeat -5px center;
	padding: 0 0 0 18px;
	height: 25px;
	line-height: 25px;
	/*width: 100px;*/
	width:150px;
	/*background-color: #ff0000;*/
	display: inline-block;
	overflow:hidden;
}

.add_li,.cle_li {
	margin-top: 157px;
	width: 80px;
	height: 30px;
	padding-left: 20px;
	background: url(../../images/right/add_o.png) no-repeat #fdfdfd 8px center;
	border: 1px solid #cdcdcd;
}

.cle_li {
	margin-top: 20px;
	padding-left: 20px;
	background: url(../../images/right/delete_o.png) no-repeat #fdfdfd 6px 0;
}
/*
.add_li:hover,.cle_li:hover {
	cursor: pointer;
}*/

.add_li:hover,.cle_li:hover {
	color: #fff;
}

/*
.add_li:hover {
	background: url(../../images/rightp/add_h.png) no-repeat #4995e1 8px center;
}

.cle_li:hover {
	background: url(../../images/right/delete_h.png) no-repeat #4995e1 8px 1px;
}*/

/*product*/
.product_lend_main {
	width: 830px;
	margin: 0 auto;
}

.product_lend_main_stop {
	width: 100px;
	height: 60px;
	line-height: 60px;
	display: inline-block;
	background: url("../../images/product/stop_bg.png") no-repeat;
	float: left;
	padding: 0 0 0 8px;
}

.product_lend_main_stop_text {
	display: inline-block;
	width: 150px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	float: left;
}

.product_lend_main_list {
	width: 100%;
	height: 60px;
	padding: 20px 0 0 0;
}

.product_lend_main_list>li {
	float: left;
	color: #5c5757;
	font-family: "微软雅黑";
	font-weight: 600;
}

.srop_sce {
	color: #fa9e55;
}

.product_lend_main_content {
	width: 90%;
	background: #eef0ef;
	margin: 10px 0 0 0;
	padding: 0 5%;
	height: 516px;
}

.product_lend_main_content_chose_text {
	color: #333333;
	font-size: 16px;
	line-height: 34px;
	font-family: "微软雅黑";
}

.product_lend_main_content_list {
	padding: 80px 50px;
}

.product_lend_main_content_list>li {
	float: left;
}

.clear {
	clear: both;
}

.product_lend_main_content_chose_input {
	width: 377px;
	height: 32px;
	border: 1px solid #bfbfbf;
	outline: none;
}

.ml1 {
	margin-left: 10px;
}

.product_lend_main_content_chose_but {
	width: 94px;
	height: 32px;
	border: 1px solid #bfbfbf;
	outline: none;
	background: url("../../images/product/search_but.png");
	display: inline-block;
	line-height: 32px;
	font-size: 14px;
	color: #666262;
}

.product_lend_main_content_chose_but:hover {
	cursor: pointer;
}
/*.product_lend_main_content_chose_but:hover{*/
/*color: #fff;*/
/*background: url("lend/but_hover_bg.png");*/
/*}*/
.search_ico {
	width: 14px;
	height: 14px;
	display: inline-block;
	float: left;
	margin: 11px 0 0 20px;
	background: url("../../images/product/search_doc.png") no-repeat;
}

.product_lend_main_but {
	width: 98px;
	height: 28px;
	border: 1px solid #c8c9c8;
	outline: none;
	background: url("../../images/product/search_but.png");
	color: #5c5757;
}

.product_lend_main_but:hover {
	color: #fff;
	background: url("../../images/product/but_hover_bg.png");
	border: 1px solid #4995e1;
	cursor: pointer;
}

.product_lend_main_but_list {
	padding: 30px 0 0 0;
	width: 93%;
	height: 30px;
}

.product_lend_main_but_list>li {
	float: right;
}

.note {
	color: #333;
	font-size: 14px;
	display: block;
	width: 100px;
	padding: 30px 0 0 50px;
}

.note_text {
	font-size: 14px;
	color: #8f8f8f;
	width: 88%;
	padding: 10px 5% 80px 5%;
}

.note_text li {
	margin: 10px;
	line-height: 24px;
}

.link_text {
	color: #4995e1;
}

.product_lend_main_content_list_2 {
	height: 210px;
	padding: 80px 5% 50px 5%;
}

.product_lend_main_content_list_2>li {
	float: left;
	width: 210px;
	height: 210px;
	display: block;
	background: url("../../images/product/show_roll_bg.png");
	margin-left: 12%;
	text-align: center;
}

.product_lend_main_list_2_text {
	font-size: 16px;
	color: #5c5757;
	display: block;
	width: 210px;
	float: left;
	line-height: 30px;
	font-family: "微软雅黑";
}

.mt5 {
	margin-top: 50px;
}

.lh5 {
	line-height: 50px;
}

.text_green {
	color: #92ac27;
	font-size: 24px;
	font-weight: 600;
}

.text_red {
	color: #f9872e;
}

.look_res {
	color: #61a3e5;
	font-size: 16px;
}

.list_2_but {
	width: 230px;
	height: 30px;
	margin: 0 auto;
	padding: 0 0 80px 0;
}

.list_2_but li {
	float: left;
}

#stop_2 {
	display: none;
}
.msg_error{
display: inline-block;
line-height: 30px;
background: url(img/inner_icons.png) no-repeat;
padding-left: 30px;
background-position: -168px -60px;
color: #ff4040;
}
.msg_bug{
display: inline-block;
line-height: 30px;
background: url(img/inner_icons.png) no-repeat;
padding-left: 30px;
background-position: -168px -30px;
color: #F0BE55;
}
.text_f1 {
	font-size: 14px;
	font-family: "微软雅黑", sans-serif;
	color: #8996a9;
}

 .scrollTbody{
     display: block;
     overflow: auto;
     width: 100%;
     height:290px;
}
.wordBreak{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	width:100%;
	display:block;
}

      