@charset "utf-8";
/*平安Saas项目jqGrid表格UI重置*/
.ui-tabs {
	padding:0;
}
.ui-tabs .ui-tabs-nav{
	padding-top: 15px;
	margin-bottom:2px;
	/*padding-bottom: 30px;*/
}
ul.ui-widget-header{
	/*border-bottom: 1px solid #a2c5e1;*/
	background: #fff url(img/tab01_bg.png) repeat-x left 15px;
	height: 32px;
	line-height: 32px;
}
.ui-tabs .ui-tabs-nav li{
	position: relative;
	top: 0;
	display: block;
	float: left;
	background: #edeff3;
	border: 1px solid #c7c7c7;
	border-bottom: 1px solid #a2c5e1;
	border-radius: 3px 3px 0 0;
	height: 30px;
	line-height: 30px;
	margin: 0 0 0 15px;
	min-width: 80px;
	text-align: center;
	color: #747474;
	padding: 0 10px;
}
/*.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	height: 30px;
	line-height: 30px;	
	min-width: 80px;
	margin: 0 0 0 15px;
	border: 1px solid #c7c7c7;
	border-bottom: 1px solid #a2c5e1;
	padding: 0 10px;
	color: #747474;
	white-space: nowrap;
	border-radius: 3px 3px 0 0;
}*/

.ui-tabs .ui-tabs-nav li span{
	display: block;
	float: right;
	width: 12px;
	height: 11px;
	background: url(img/iconbg.png) no-repeat 0 0;
	overflow: hidden;
	text-indent: -9999em;
	margin: 9px 0 0 10px;
	cursor: pointer;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover span,.ui-tabs .ui-tabs-nav li.ui-tabs-active span{
	background: url(img/iconbg.png) no-repeat 0 -11px;
}
.ui-tabs .ui-tabs-nav li.ui-state-hover span:hover{
	background: url(img/iconbg.png) no-repeat 0 -22px;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,.ui-state-default{	
	background: #fff;
	color:#fff;
	border:0;
	font-weight: normal;
	text-align: center;	
}
/*加载中。。。样式*/
.ui-jqgrid .loading, .ui-widget-content .loading{
	top:30%;
	padding:10px 10px 10px 50px;
	font-weight:bold;
	color:#606060;
	border:1px solid #ccc;
	border-radius:2px;
	background:#fff url(img/load_icon.gif) no-repeat 10px 5px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	display: block;
	float: none;
	padding: 0;
	color:#6d6d6d;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor:hover,.ui-tabs .ui-tabs-active .ui-tabs-anchor{
	color: #3f91c9;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover,.ui-tabs .ui-tabs-nav li.ui-tabs-active{
	border: 1px solid #a2c5e1;
	border-bottom: 1px solid #fff;
	padding-bottom: 0;
	background: #fff;
}
.ui-tabs .ui-state-hover {
	background: #fff;
	border: 1px solid #a2c5e1;
	border-bottom: 1px solid #fff;
	border-radius: 3px 3px 0 0;	
}
.ui-state-active a,.ui-state-active a:link, .ui-state-active a:visited{
	color: #3f91c9;
}


/*针对按钮*/
.ui-button-text-only .ui-button-text {
	padding:0;
	font-size:14px;
	line-height:30px;
}

table {border-collapse:collapse;border-spacing:0;font:inherit;text-align:center;border:none;border-color:none;}

/*表格外包裹样式 去除边框*/
.ui-widget-content { 
	border:none ;
	border-left:1px solid #d7e0e5 \9; 
}
.ui-corner-all{
	border-radius:0;
}
/*字体大小重写，之前是11px，样式重写之前在firefox中看差异较大*/
.ui-jqgrid .ui-jqgrid-view {  
	font-size:12px;
}
/*除去表格右侧多一个20px的区域*/
.ui-jqgrid .ui-jqgrid-hbox {
	float: left;
	padding-right:0;
}
.ui-jqgrid .ui-jqgrid-hdiv {
 	background: none;
    border:none;
}
/* header*/
.ui-jqgrid .ui-jqgrid-htable th{
	height:34px;
}
.ui-widget-content  th.ui-state-default{
	border:1px solid #1e77ce; 
	border-right:1px solid #4284c8;
	background:#5b9fe4;
	font-weight: normal;	
}

#loadl_ist{
	color:red;
}
/*针对table*/
#gbox_list{
	margin-left:30px;
}

/*针对th*/
.ui-th-column,.ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	/*padding:0;*/
	border-top: 1px solid #1e77ce;
	border-bottom:1px solid #1e77ce;;
}
/*针对th鼠标hover字体颜色，以及tr鼠标hover的背景色*/
.ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background:#f4f4f4;
	background:none \9;
	/*border: 1px solid #d7e0e5;*/
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #d7e0e5;	
	background:none \9;
}
.ui-widget-content .ui-state-highlight td,.ui-widget-content .ui-state-hover td{	
	background:none \9;
	border:1px solid #d7e0e5;
}
/*针对td*/
tr.ui-widget-content{  /*解决ie8无边框，因为默认背景图片在ie8下盖过了边框*/
	background:none;
}
.ui-jqgrid tr.ui-widget-content td{
	position:relative;
	font-weight: normal;
	overflow: hidden;
	white-space: pre;
	height:39px;
	line-height:39px \9;
	padding:0;
	text-align:center;
	border:1px solid #d7e0e5;
	/*border-top:none;*/
	color:#606060;
}
.ui-jqgrid tr.ui-state-hover td{
	/*border-top:none;*/
}

.ui-state-hover{
	background:#eee;
}



/*tr.ui-widget-content{
	background: #fff ;
}*/

/*dialog头部*/
.ui-dialog {
padding: 0;
}
.ui-widget-header {
	border:none;
	background:#4995e1;
	color:#fff;
	font-weight: bold;
}
.formTable td{
	/*border:none;*/
	padding: 8px;
	text-align:left;
	height:auto;
}
.formTable .label{float:right;}
.formTable #formRadio{
	text-align:left;
}
	/*针对dialog的按钮*/
.ui-widget-content .ui-button-text-only .ui-button-text {
	padding: 0 5px;
	font-size: 12px;
	line-height: 24px;
	color:#fff;
	border:1px solid #3780c9;
	border-radius:2px;
	background:#4995e1;
}
.ui-widget-content .ui-state-hover .ui-button-text{
border: 1px solid #1657a9;
background: #2f75cd;
}
.ui-widget-content .ui-state-default .ui-button-text-only,.ui-widget-header .ui-state-default  .ui-button-text-only {
	border:0;
}
.ui-dialog .ui-dialog-titlebar-close {
	padding: 0;
}
.formTable input {
	display:inline-block;
	border: 1px solid #d7d4d4;
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	color: #606060;
	padding: 0 2px;
	background: #FFF;
}
.formTable select{
	border:1px solid #d7d4d4;
	height:26px;
	width:100%;
}
    
table {
	border-collapse: collapse;
	border-spacing:0;
	border-color: gray;
}

/*解决IE浏览器无表格的问题*/
/*.ui-jqgrid tr.ui-row-ltr td {  
border-right-width: 1px;
border-right-color: #d7e0e5;
border-right-style: solid;
}
.ui-jqgrid tr.jqgrow td {    
border-bottom-width: 1px;
border-bottom-color: #d7e0e5;
border-bottom-style: solid;
}重复设置了*/

user agent stylesheettable {
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}

/*分页样式*/
	/*分页行整体设置*/
.ui-jqgrid .ui-jqgrid-pager{
border-left: 0 none !important;
border-right: 0 none !important;
border-bottom: 0 none !important;
margin:0 30px !important;
padding: 0 !important;
position: relative;
height: 35px;
white-space: nowrap;
overflow: hidden;
font-size: 11px;	
}
	/*分页行跳转框*/
.ui-jqgrid .ui-pg-input {
border: 1px solid #c8c7c7;
background: #FFF;
color: #818080;
height: 28px;
line-height:28px;
width: 46px;
font-size:14px;
text-align: center;
margin: 0 5px;
vertical-align: middle \9;
margin-top:-1px \9;
}

.ui-jqgrid .ui-pg-table td {
line-height: 30px;
padding: 0;
}
.ui-widget-content td{border:none;}
.ui-jqgrid .ui-state-disabled:hover {
padding: 0;
}
/*上页、下页*/
td#pager_center{
	width:400px !important;
	
}
#pager_center .ui-icon{
	/*background:none;	
	display:none;*/
}

#pager_center td span.ui-icon,td#next_pager span.ui-icon,td#last_pager span.ui-icon{
	height:28px;
	width:50px;
	line-height:28px;
	text-indent:0;
	border: 1px solid #c8c7c7;
	background: #FFF;
	color: #818080;
}
/*鼠标hover时*/
#pager_center td.ui-state-hover{
	border:none;	
}
#pager_center td.ui-state-hover span.ui-icon{
	background: #428cdd;
	color: #FFF;
	border: 1px solid #2478d4;
}
#pager_center td.ui-pg-button span.ui-separator{
	display:none;
}
td#prev_pager{
widht:52px;
height:30px;

}

#pager_center td.ui-state-disabled,.ui-state-disabled .ui-icon {
	opacity:1;
	filter: Alpha(Opacity=100);		
}

#pager_center td.ui-state-disabled span{
	color:#ccc;	
}
.ui-jqgrid .ui-paging-info {
	height: 32px;
	margin-top: 0;
	margin-right: 50px;
}
/*分页默认样式左侧不显示*/
#pager_left{
	visibility:hidden;
}
/*th排序默认样式不显示*/
.ui-state-default .ui-icon,.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
background-image: none;
}
.ui-state-default .ui-icon-closethick, .ui-state-hover .ui-icon-closethick, .ui-state-focus .ui-icon-closethick {
background-image: url("images/ui-icons_888888_256x240.png");
}
/*编辑，删除等样式*/
.ui-widget-content a.edit,.ui-widget-content a.link02{color: #388fc9;}
.ui-widget-content a.edit:hover,.ui-widget-content a.link02:hover{color: #0c66be;}
.ui-widget-content a.delete,.ui-widget-content a.link01{color: #18b32a;}
.ui-widget-content a.delete:hover,.ui-widget-content a.link01:hover{color: #0d981d;}
.ui-widget-content a.again,.ui-widget-content a.link03{color:#f49835;}
.ui-widget-content a.again:hover,.ui-widget-content a.link03:hover{color: #e1883a;}
