.skip_person,.skip_cust,.skip_opt {
	width: 550px;
	height: 250px;
	background-color: #FFFFFF;
	position: absolute;
	border: 1px #BCBCBC solid;
	z-index: 99;
	display: none;
}

.skipnav_person,.skipnav_cust,.skipnav_opt {
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	color: #8A8A8A;
	border-bottom: 2px #37AEEC solid;
}

.skipnav_person ul li,.skipnav_cust ul li,.skipnav_opt ul li {
	list-style: none;
	float: left;
	font-size: 14px;
	width: 55px;
	text-align: center;
	border-bottom: 2px #BCBCBC solid;
}

.skipnav_person ul li:hover,.skipnav_cust ul li:hover,.skipnav_opt ul li:hover {
	color: #37AEEC;
	cursor: pointer;
	border-bottom: 2px #37AEEC solid;
}

.skipList_person,.skipList_cust,.skipList_opt {
	width: 100%;
	height: 170px;
	color: blue; /*颜色*/
	padding-top: 10px; /*层内上边距*/
	padding-bottom: 10px; /*层内下边距*/
	overflow-y: auto; /*竖向滚动条*/
}

#resultUl_person li,#resultUl_cust li,#resultUl_opt li {
	list-style: none;
	float: left;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: left;
	color: #4C4C4C
}

#resultUl_person li:hover,#resultUl_cust li:hover,#resultUl_opt li:hover {
	color: #37AEEC;
	cursor: pointer;
}

.prompt {
	width: 100%;
	height: 20px;
	line-height: 20px;
	color: B6B6B6;
}

.prompt span {
	font-size: 12px;
	margin-left: 7px;
}