@CHARSET "utf-8";
html,body{width:100%}
body{font-size:12px;font-family:Arial;color:#666;background-color:#FFFFFF;}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,span,strong{margin:0;padding:0;}
p,font,span,h1,h3{font-size:12px;}
input,button,textarea{background:none;/*border:none;*/vertical-align:middle;overflow:visible;font:inherit;outline:none;}
table {border-collapse:collapse;border-spacing:0;font:inherit;}
ul,ol,dl{list-style: none;}
li,dt,dd{*zoom:1;}
.hide{text-indent:-999em;overflow:hidden;}
.oh:after{content:'\0020';display:block;height:0;clear:both;overflow:hidden;line-height:0;font-size:0;}
.oh{*zoom:1}
img{border:none;vertical-align:middle;}
.tdu{text-decoration:underline;}
.mgauto{margin:0 auto;}
.tal{text-align:left;}
.tac{text-align:center;}
.tar{text-align:right;}
.fl{float:left;}
.fr{float:right;display:inline;}
.ft_yh{font-family:微软雅黑;}
.ft_norm{font-family:Arial;}
.ft12{font-size:12px;}
.ft13{font-size:13px;}
.ft14{font-size:14px;}
.ft16{font-size:16px;}
.ft18{font-size:18px;}
.ft24{font-size:24px;}
.fwb{font-weight:bold;}
.fwn{font-weight:normal;}
.pr{position:relative;}
.pb{position:absolute;}
.pf{position:fixed;}
.tx_i{text-indent:2em;}
.z-2{z-index:2;}

.wid80{width:80px;}

.mg_tb10{margin:10px 0 5px 0;}
.mgt5{margin-top:5px;}
.mgt15{margin-top:15px;}
.mgr10{margin-right:10px;}
.mgr30{margin-right:30px;}
.mgr40{margin-right:50px;}
.mgl10{margin-left:10px;}
.mgb5{margin-bottom:5px;}
.mgb10{margin-bottom:10px;}
.mgb15{margin-bottom:15px;}
.mgb20{margin-bottom:20px;}
.mgb25{margin-bottom:25px;}
.pd10{padding:10px;}
.pd20{padding:20px;}
.pdt10{padding-top:10px;}
.pdt20{padding-top:20px;}
.pdt5{padding-top:5px;}
.pdt30{padding-top:30px;}
.pdl20{padding-left:20px;}
.pdl25{padding-left:25px;}
.pdl30{padding-left:30px;}
.pdr30{padding-right:30px;}
.pdb5{padding-bottom:5px;}
.pdb10{padding-bottom:10px;}
.pdb20{padding-bottom:20px;}

.bg_F7F7F7{background-color:#F7F7F7;}
.bg_FF6600{background-color:#FF6600;}
.bg_009966{background-color:#009966;}

.no_bd{border:none !important;}

/*body{min-width:1000px;overflow:auto;}*/
.ico1,.ico2,.ico3{background-image:url(img/ico.png);}




















