/* 日程页面css */
.shade{
   position:fixed;
   display:none;
   background:url(../../common/css/img/pop_bg.png) repeat left top;
   top:0;
   left:0;
   bottom:0;
   right:0;
   z-index:50;
   }
.pop01 {
	position:absolute;
	/*height:473px;*/
	display:none;
	top:50%;
	left:50%;
	background:#fff;
	box-shadow:3px 3px 5px #d6d6d6;
	z-index:50;
}
.pop01 .pop_title {
	height:45px;
	background:#4995e1;
	border-bottom:2px solid #4191e0;
	padding:0 18px;
	margin-top: -40px;
	/*width:95%;*/
	margin: 0px;
	z-index:58
}
.pop01 .pop_title span {
	color:#fff;
	font:18px/46px "微软雅黑";
}
.popClose {
	display:block;
	float:right;
	width:20px;
	height:31px;
	text-indent:-9999em;
	overflow:hidden;
	background:url(../../common/css/img/pop_close.png) no-repeat;
	margin-top:16px;
}
.popClose:hover {background:url(../../common/css/img/pop_close_hover.png) no-repeat;}
.img_link03{
    background: url(../../images/customer_data/deleteTrack.png) no-repeat center;
    overflow: hidden;
	width: 26px;
	text-indent: -9999em;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
.img_link03:hover{
    background: url(../../images/customer_data/deleteTrack_hover.png) no-repeat center;
    overflow: hidden;
	width: 26px;
	text-indent: -9999em;
	height: 26px;
	display: inline-block;
	vertical-align: middle;
}
.pop_item {
	/*padding:20px;*/
}
.fc-state-active {
	background-color: 'red';
}

.zindex_tit{
	position: absolute;
	z-index:50;
}
.width{
	width:95%;

	}
/*新建按钮的样弄1�7*/
.btnCss01,.onbtnCss01,.unbtnCss01{
	border:1px solid #3780c9;
	background:#4995e1;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	height:30px;
	line-height:30px;
	padding:0 30px;
	_padding:0 15px;
	cursor:pointer;
	border-radius:3px;
}
.btnCss01:hover,.onbtnCss01{
	border:1px solid #1657a9;
	background:#2f75cd;
}
.unbtnCss01{
	border:1px solid #d7d4d4;
	background:#f6f6f6;
	color:#ababab;
	cursor:auto;
}
